.post-info
  %p=(post.created_at).strftime("%B %d, %Y")
  %p.tagged Теги:
  %ul.info
    -post.tag_list.each do |tag|
      %li=link_to tag, {action: "tagged", :tag => tag}
    %p.comments_count Отзывов: #{post.comments.count}

.post-text
  .post-content
    %h1=link_to post.title, post
    %noindex
      %p=raw RedCloth.new(post.content).to_html
      =content_for :post_footer
