// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post_comments {
  padding: 0 0 20px 170px;
  position: relative;
  width: 560px;
}
.comments_count {
  padding-top: 10px;
}
