!!!
%html
  %head
    =set_title
    =stylesheet_link_tag "application"
    =javascript_include_tag "application"
    =javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"
    =javascript_include_tag "jquery.synctranslit"
    =csrf_meta_tags
    :javascript
      $(document).ready(function(){
          $("#post_title").syncTranslit({destination: "post_permalink"});
      }); 
  %body
    #container
      %header
        .logo
          =link_to image_tag("http://www.savepic.org/2300316.png", size: "83x85"), root_path
        %nav
          %ul
            %li=link_to "ГЛАВНАЯ", root_path
            %li=link_to "ПАРТНЕРСТВО", partners_path
            %li=link_to "ОБРАТНАЯ СВЯЗЬ", contact_me_path        
      #post
        =yield
      #footer
